.cell {
    position: relative;
    border: 1px solid #cccccc;
    width: 62px;
    height: 62px;
    float: left;
    cursor: pointer;
}

.cell-selected {
    background: #a4fffb;
    border: 1.5px solid #cecece;
}