html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.bar-top {
    position: fixed;
    box-shadow: 0 3px rgba(0, 0, 0, .3);
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 82px;
    -webkit-font-smoothing: antialiased;
    display: block;
    z-index: 50;
    top: -2px;
}

.bar-top ul {
    float: left;
    padding: 10px;
    color: black !important;
}

.bar-top ul button {
    margin-left: 10px;
}

#board {
    width: 100%;
    margin-top: 25px;
    padding-left: 1px;
    height: 100%;
}

.keyboard {
    height: initial;
    background: #000000 repeat-x;
    -moz-border-radius: 7px 21px 7px 21px 10px 10px;
    -webkit-box-shadow: inset 0 0 8px #bbb, 0 1px 0 #aaa, 0 4px 0 #bbb, 0 10px 30px #ddd;
    -moz-box-shadow: inset 0 0 8px #bbb, 0 1px 0 #aaa, 0 4px 0 #bbb, 0 10px 30px #ddd;
    box-shadow: inset 0 0 8px #bbb, 0 1px 0 #aaa, 0 4px 0 #bbb, 0 10px 30px #ddd;
    width: 13.5%;
}

.keyboard ul {
    list-style-type: none;
    margin: 0 auto;
}

.keyboard li {
    float: left;
}

.key {
    display: block;
    color: black;
    font: bold 15pt arial;
    text-decoration: none;
    text-align: center;
    width: 62px;
    height: 50px;
    margin: 2px 0px 0px 16px;
    background: white;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-top: 1px solid #f5f5f5;
}

.key-special span {
    margin-top: 2px !important;
    margin-left: 2px !important;
}

.key:hover {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.key-cloned {
    width: 58px;
    height: 50px;
    background: none;
    border: none;
    margin: 0;
}

.key-span {
    height: 50px;
    margin-top: 0 !important;
    background-size: 62px 50px !important;
}

.keyboard .key:active, .keydown {
    color: #000;
    background: #ebeced;
    -webkit-box-shadow: inset 0 0 25px #ddd,
    0 0 3px #333;
    -moz-box-shadow: inset 0 0 25px #ddd,
    0 0 3px #333;
    box-shadow: inset 0 0 25px #ddd,
    0 0 3px #333;
    border-top: 1px solid #eee;
}

a.key > span {
    display: block;
    margin: 12px 0 0;
    line-height: 16px;
    font-weight: bold;
    font-size: 50px;
}

.key-cloned > span {
    line-height: 26px !important;
}

.keyboard ul ol {
    list-style-type: none;
}

.keyboard ul, ol {
    padding: 0px;
    margin: 0;
}

/* For modern browsers */
.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom: 1;
}

.bar-top ul button {
    margin-left: 5px !important;
}

#board {
    display: inline-flex;
}


#grid {
    width: 73%;
    margin: 2px;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}
