html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.bar-top {
    position: fixed;
    box-shadow: 0 3px rgba(0, 0, 0, .3);
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 82px;
    -webkit-font-smoothing: antialiased;
    display: block;
    z-index: 50;
    top: -2px;
}

.bar-top ul {
    float: left;
    padding: 10px;
    color: black !important;
}

.bar-top ul button {
    margin-left: 10px;
}

#board {
    width: 100%;
    margin-top: 25px;
    padding-left: 1px;
    height: 100%;
}

#canvas {
    opacity: 0.4;
    background: url("../img/grid.png") repeat;
}

.keyboard {
    position: fixed;
    height: initial;
    background: #000000 repeat-x;
    -moz-border-radius-topleft: 7px 21px;
    -moz-border-radius-topright: 7px 21px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-box-shadow: inset 0 0 8px #bbb, 0 1px 0 #aaa, 0 4px 0 #bbb, 0 10px 30px #ddd;
    -moz-box-shadow: inset 0 0 8px #bbb, 0 1px 0 #aaa, 0 4px 0 #bbb, 0 10px 30px #ddd;
    box-shadow: inset 0 0 8px #bbb, 0 1px 0 #aaa, 0 4px 0 #bbb, 0 10px 30px #ddd;
}

.keyboard-left {
    position: fixed;
    top: 80px;
    bottom: 5px;
    width: 13%;
}

.keyboard-right {
    position: fixed;
    top: 80px;
    bottom: 5px;
    right: 0;
    width: 13%;
}

#toolbar-bottom {
    position: fixed;
    background: #800100;
    width: 93%;
    height: 7px;
    bottom: 1px;
}

#toolbar-bottom:hover + .keyboard {
    display: block;
}

.keyboard ul {
    list-style-type: none;
    margin: 0 auto;
}

.keyboard li {
    float: left;
}

.keyboard .key {
    display: block;
    color: black;
    font: bold 15pt arial;
    text-decoration: none;
    text-align: center;
    line-height: 41px;
    width: 62px;
    height: 50px;
    margin: 2px 0px 0px 12px;
    background: white;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-top: 1px solid #f5f5f5;
}

.key-special span {
    margin-top: 2px !important;
    margin-left: 2px !important;
}

.key-red {
    width: 110px !important;
}

.keyboard .key:hover {
    cursor: pointer;
}

.keyboard .key:active, .keydown {
    color: #000;
    background: #ebeced;
    -webkit-box-shadow: inset 0 0 25px #ddd,
    0 0 3px #333;
    -moz-box-shadow: inset 0 0 25px #ddd,
    0 0 3px #333;
    box-shadow: inset 0 0 25px #ddd,
    0 0 3px #333;
    border-top: 1px solid #eee;
}

#esc {
    margin: 6px 15px 0 0;
    font-size: 7.5pt;
    text-transform: lowercase;
}

.qwerty li a span {
    display: block;
    margin: 12px 0 0;
    line-height: 16px;
    font-weight: bold;
    font-size: 50px;
}

.qwerty li #tab span {
    text-align: left;
    margin: 23px 0 0 10px;
    font-size: 7.5pt;
    text-transform: lowercase;
}

.qwerty li .alt b {
    display: block;
    margin: 3px 0 0;
}

.qwerty li .alt span {
    margin: 2px 0 0;
}

.keyboard ul ol {
    list-style-type: none;
}

.keyboard h1 {
    color: #888;
    text-align: center;
    font: bold 25pt/25pt arial;
    margin: 30px 0 60px;
}

.keyboard h2 {
    color: #666;
    font: 13pt/0pt arial;
}

.keyboard p {
    color: #999;
    font: 9pt/17pt arial;
    margin: 0 0 50px;
}

.keyboard small {
    font: italic 8pt/12pt arial;
    color: #aaa;
    padding: 0 130px 0 0;
    display: block;
}

.keyboard cite {
    display: block;
    padding: 0 0 30px;
    margin: 0 auto;
    text-align: center;
    color: #999;
    font: italic bold 8pt arial;
}

.keyboard ul, ol {
    padding: 0px;
    margin: 0;
}

/* For modern browsers */
.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom: 1;
}

#calculator .key {
    background: url('../img/calculator2.png');
    background-size: 70px 88px;
    height: 92px !important;
    width: 74px !important;
    position: absolute;
    left: 715px;
    top: 30px;
    box-shadow: none;
    border-style: groove;
    border-width: 2px;
    border-color: white;
    padding: 20px;
}

#alphabet .key {
    color: black;
    font-weight: bold;
    height: 81px !important;
    width: 81px !important;
    position: absolute;
    left: 715px;
    top: 140px;
    box-shadow: none;
    border-style: groove;
    border-width: 2px;
    border-color: white;
    padding: 20px;
}

#submit-button {
    background-color: rgb(153, 1, 0);
    border-color: rgb(106, 1, 0);
}

#submit-button:hover {
    background-color: rgb(137, 1, 0);
    border-color: rgb(67, 1, 0);
}

.bar-top ul button {
    margin-left: 5px !important;
}

#global-grid {
    float: left;
    position: absolute;
    top: 80px;
    width: 100%;
}

#global-grid div {
    float: left;
}

#left-grid, #right-grid {
    width: 166.4px;
}

#grid {
    position: absolute;
    width: 74%;
    left: 166.4px;
    /*margin-right: 166.4px;*/
    margin-bottom: 2px;
    margin-top: 2px;
}